html,
body {
    font: 12px metrophobic, helvetica neue, helvetica, arial, sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: #000;
}

/*****************  LOADING SPINNER STARTS ******************/
#loading {
  position: absolute;
  width: 100%;
  top: 50%;
  text-align: center;
  font-size: 3em;
  color: #999;
  background-color: #EEE;
  opacity:0.8;
  display: block;
}

#loading.loaded {
  display: none;
}

/************   END LOADING SPINNER  ************************/

#cy_container {
    position: absolute;
    width: 100%;
    background-color: #FFF;
}

#cy {
    height:100%;
    border: 1px solid #CCC;    
}

#rankings_container,
#description_container,
#graph_data_container,
#help_container {
    display: none;
    position: absolute;
    border: 1px solid #DDD;
}

#cy_container#info {
    position: absolute;
    display: inline;
    top: 0px;
    padding: 10px;
    width: 95%;
    height: 100%;
}

.title {
    font-family: Metrophobic, sans-serif !important;
}
.vertical-align {
    display: flex;
    align-items: center;
}


#reset, #refresh {
    font-size: 20px;
    text-align: center;
}

#startNode,
#endNode,
#focusOn,
#resizeNodes,
#exportAs,
#filters {
    font-size: 12px;
    color: #111;
}

.icon{
    padding: 4px;
    text-align: left;
    font-size: 30px;
    border: 2px solid;
    line-height: 40px;
}

.icon-sm{
    text-align: center;
    font-size: 28px;
}

.search {
    color: #034AA0;
}

.focusOn {
    color: #AD1B39;
}

.resize {
    color: #E7C21C;
}

.filter {
    color: #359B23;
}

.exportAs {
    color: #424F5D;
}

#filters {
    height: 100px;
}

